body {
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3 {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}

.final {
	display: none;
}

.container {
	background: white;
	height:500px;
	margin-top: 15%;
	border-radius: 50px;
}

.gameState {
	display:none;
}

.answers {
	list-style: none;
}

.response {
	display:none;
}

li:hover {
    /* glow effect on hover */
    text-shadow: -1px 1px 20px #ffc, 1px -1px 20px #0000FF;
    transition: text-shadow 250ms linear 0s;
}

html {
	height:100%;
}
body {
	background: #FFEEFF;
	background-repeat: no-repeat;
	height:100%;


